.block-title {
    display: flex;
    justify-content: center;
    align-items: center;
}
.block-title .title {
    /*background-color: #1cbbb4;*/
    color: white;
    font-family: Helvetica Neue, Helvetica, sans-serif;
    width: 120px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    margin-top: 20px;
    border-radius: 10px;
    /*font-size: 28rpx;*/
}